<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Title: <%= @school_class.title %>
    Room Number:<%= @school_class.room_number %>
  </body>
</html>
